{% assign news = site.data.news %}

<section class="u-layout-medium u-layoutCenter u-padding-r-all u-text-r-xxl u-layout-withGutter u-border-top-xxs u-color-grey-40">
    <div>
        <div class="Grid">
            <h2 id="carousel-heading" class="Grid-cell u-text-h4 u-color-black u-layout-centerLeft_">Cosa dicono del Libro Bianco</h2>
        </div>

        <div class="Grid Grid--withGutter">


	{% for aux in news %}
            <div class="Carousel-item_ Grid-cell u-lg-size1of3 u-md-size1of3 u-margin-r-bottom">
                <div class="u-color-grey-30 u-padding-r-right">
                    <blockquote>
                        <p class="u-layout-prose u-textSecondary u-lineHeight-l u-text-r-s">
                        "{{ aux.text }}".
			<br></p>
                    </blockquote>
                    <footer>
                        <cite><a title="{{ aux.title }}" target="_blank" href="{{ aux.url }}"><img src="/assets/img/giornali/{{ aux.pic }}" style="margin:auto; height: {{ aux.h }}px; width: {{ aux.w  }}px" height="{{ aux.h  }}" width="{{ aux.w }}" alt="{{ aux.journal }}"></a></cite>
                    </footer>
                </div>
            </div>
	{% endfor %}


</div>

    </div>

	<div class="Social Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-flex u-flexJustifyEnd u-padding-r-bottom u-padding-r-top u-textCenter u-flexAlignSelfEnd u-flexExpandLeft">
		<a href="/contatti/" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl">
          	Guarda la rassegna stampa
       	 	</a>
            </div>


</section>


