<div class="Grid u-layout-r-withGutter u-padding-top-xl"> 
  <div class="Home-claim Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white u-textCenter">


{% if(t.lang == 'it') %}
    <p class="u-textWeight-200 u-text-r-l u-hidden u-sm-block u-md-block u-lg-block"><strong>Cambia la burocrazia, usa l'Intelligenza!</strong>
<br>
Dopo il Libro Bianco sull'IA al servizio del cittadino, stiamo sviluppando percorsi di sperimentazione <br> per modernizzare processi, servizi e prodotti della Pubblica Amministrazione italiana<br> attraverso l’uso di tecnologie di Intelligenza Artificiale.</p>
    <p class="u-textWeight-200 u-text-r-l u-block u-sm-hidden u-md-hidden u-lg-hidden"><strong>Cambia la burocrazia, usa L'intelligenza!</strong><br>
<br>
Dopo il Libro Bianco sull'IA al servizio del cittadino, stiamo sviluppando percorsi di sperimentazione <br> per modernizzare processi, servizi e prodotti della Pubblica Amministrazione italiana<br> attraverso l’uso di tecnologie di Intelligenza Artificiale.</p>


{% endif %}
	  


<br>

{% if(t.lang == 'it') %}
    <p class="u-textWeight-200 u-text-r-l u-hidden u-sm-block u-md-block u-lg-block">{{ t.home_evento | newline_to_br | strip_newlines  }}</p>
    <p class="u-textWeight-200 u-text-r-l u-block u-sm-hidden u-md-hidden u-lg-hidden">{{ t.home_evento }}</p>


  <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white">
    <div class="Grid-cell u-sizeFull u-flex u-flexJustifyCenter u-padding-r-all">
        <a href="/assets/librobianco.pdf" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
          {{ t.cta_libro_bianco | upcase }}
        </a> &nbsp; &nbsp;
               <a href="/openinnovation" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
                  PROGETTI
                </a>
            </div>


  </div>


{% endif %}


    <p class="u-textWeight-200 u-text-r-l u-hidden u-sm-block u-md-block u-lg-block">{{ t.home_claim | newline_to_br | strip_newlines }}</p>

    <p class="u-textWeight-200 u-text-r-l u-block u-sm-hidden u-md-hidden u-lg-hidden">{{ t.home_claim }}</p>

    {% if(t.lang != 'it') %}
       <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white">
	    <div class="Grid-cell u-sizeFull u-flex u-flexJustifyCenter u-padding-r-all">
	        <a href="/assets/whitepaper.pdf" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
        	  {{ t.cta_libro_bianco | upcase }}
        	</a>
	    </div>
       </div>

       <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white">
            <div class="Grid-cell u-sizeFull u-flex u-flexJustifyCenter u-padding-r-all">
                <a href="/openinnovation" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
                  PROGETTI
                </a>
            </div>
       </div>
   {% endif %}

  </div>
 <div class="Grid-cell u-sizeFull u-textCenter u-padding-r-all u-textCenter">
    <h3 class="u-text-r-m u-textWeight-300 u-color-white u-lineHeight-l">{{ t.newsletter_signup }}</h3>
    <form id="newsletter" class="Form u-padding-r-top u-sm-size2of3 u-md-size5of12 u-lg-size5of12 u-layoutCenter" action="{{ 'newsletter.php' | relative_url }}">
      <div class="Form-field Form-field--withPlaceholder Grid u-background-white u-color-grey-30 u-borderRadius-s u-borderShadow-xxl">
        <button class="Grid-cell u-sizeFit Icon-mail u-color-grey-40 u-text-r-m u-padding-all-s u-textWeight-400"></button>
        <input class="Form-input Form-input--ultraLean Grid-cell u-sizeFill u-text-r-s u-color-black u-text-r-xs u-borderHideFocus" required id="newsletter-email" name="email" placeholder="{{ t.newsletter_placeholder }}">
        <button type="submit" class="Grid-cell u-sizeFit Button Button--default u-padding-r-left u-padding-r-right u-textUppercase u-borderRadius-s" id="newsletter-submit">
         {{ t.newsletter_subscribe }}
        </button>
      </div>
    </form>
    <p class="u-textCenter u-padding-top-l u-layoutCenter u-text-r-xs u-color-grey-40 u-layout-prose">
      {{ t.newsletter_tagline | newline_to_br | strip_newlines }}
    </p>
  </div>
</div>
