<div class="Grid u-layout-r-withGutter u-padding-top-xl"> 
  <div class="Home-claim Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white u-textCenter">


{% if(t.lang == 'it') %}
    <p class="u-textWeight-200 u-text-r-l u-hidden u-sm-block u-md-block u-lg-block"><strong>LIBRO BIANCO SULL’INTELLIGENZA ARTIFICIALE AL SERVIZIO DEL CITTADINO</strong>
<br>
Dopo il Libro Bianco sull'IA al servizio del cittadino, stiamo sviluppando percorsi di sperimentazione <br> per modernizzare processi, servizi e prodotti della Pubblica Amministrazione italiana<br> attraverso l’uso di tecnologie di Intelligenza Artificiale.</p>
    <p class="u-textWeight-200 u-text-r-l u-block u-sm-hidden u-md-hidden u-lg-hidden"><strong>Cambia la burocrazia, usa L'intelligenza!</strong><br>
<br>
Dopo il Libro Bianco sull'IA al servizio del cittadino, stiamo sviluppando percorsi di sperimentazione <br> per modernizzare processi, servizi e prodotti della Pubblica Amministrazione italiana<br> attraverso l’uso di tecnologie di Intelligenza Artificiale.</p>


{% endif %}
	  


<br>

{% if(t.lang == 'it') %}
    <p class="u-textWeight-200 u-text-r-l u-hidden u-sm-block u-md-block u-lg-block">{{ t.home_evento | newline_to_br | strip_newlines  }}</p>
    <p class="u-textWeight-200 u-text-r-l u-block u-sm-hidden u-md-hidden u-lg-hidden">{{ t.home_evento }}</p>


  <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white">
    <div class="Grid-cell u-sizeFull u-flex u-flexJustifyCenter u-padding-r-all">
        <a href="/assets/librobianco.pdf" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
          {{ t.cta_libro_bianco | upcase }}
        </a> &nbsp; &nbsp;
               <a href="/openinnovation" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
                  PROGETTI
                </a>
            </div>


  </div>


{% endif %}


    <p class="u-textWeight-200 u-text-r-l u-hidden u-sm-block u-md-block u-lg-block">{{ t.home_claim | newline_to_br | strip_newlines }}</p>

    <p class="u-textWeight-200 u-text-r-l u-block u-sm-hidden u-md-hidden u-lg-hidden">{{ t.home_claim }}</p>

    {% if(t.lang != 'it') %}
       <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white">
	    <div class="Grid-cell u-sizeFull u-flex u-flexJustifyCenter u-padding-r-all">
	        <a href="/assets/whitepaper.pdf" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
        	  {{ t.cta_libro_bianco | upcase }}
        	</a>
	    </div>
       </div>

       <div class="Grid Grid--withGutter Grid-cell u-sizeFull u-padding-r-all u-text-p u-color-white">
            <div class="Grid-cell u-sizeFull u-flex u-flexJustifyCenter u-padding-r-all">
                <a href="/openinnovation" role="button" class="Button Button--default u-padding-left-xxl u-padding-right-xxl" style="font-size: 20px">
                  PROGETTI
                </a>
            </div>
       </div>
   {% endif %}

  </div>
</div>
