{% assign items = include.items  %}

{% if include._internal %}
  <ul>
{% else %}
  <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs {% if include.dynamic %}Treeview Treeview--default js-Treeview{% endif %}">
{% endif %}

  {% assign navurl = page.url | remove: 'index.html' | relative_url %}
  {% for item_element in items %}
   {% assign item = item_element[1] %}
  	<li data-megamenu-class="{{ item.liClass }}">

      {% if item.url == "#" or item.url contains '//' %}
        {% assign _url = item.url %}
      {% else %}
        {% assign _url = item.url | relative_url | append: '/' %}
      {% endif %}

  		<a href="{{ _url }}" class="{% if _url == navurl %}is-current u-textWeight-700{% endif %} Linklist-link"
         data-megamenu-class="{% if _url == navurl %}is-current{% endif %}">
        {{ item.markup_pre }}
				{{ t[item.title] | default: item.title }}
        {{ item.markup_post }}
  		</a>
      {% if item.subitems %}
    		{% include linklist.html layout=item.layout items=item.subitems _internal=true %}
    	{% endif %}
  	</li>
  {% endfor %}

</ul>
