<div class="u-background-5 u-padding-r-all u-margin-bottom-xxl">
<iframe src="{{ '/osservatorio/sentiment.html' | relative_url }}" width="100%" height="636px" frameborder="0">
  {{ t.iframe_not_supported }}
</iframe>
{{ t.observatory_sentiment | markdownify }}
</div>

<div class="u-background-5 u-padding-r-all u-margin-bottom-xxl">
<iframe src="{{ '/osservatorio/topics.html' | relative_url }}" width="100%" height="600px" frameborder="0">
  {{ t.iframe_not_supported }}
</iframe>
{{ t.observatory_themes | markdownify }}
</div>

<div class="u-background-5 u-padding-r-all u-margin-bottom-xxl">
<iframe src="{{ '/osservatorio/topics-relations.html' | relative_url }}" height="700px" width="100%"frameborder="0">
  {{ t.iframe_not_supported }}
</iframe>
{{ t.observatory_themes_relations | markdownify }}
</div>
