<br/>
{% if(t.lang == 'it') %}
<h4>Rassegna Stampa 21 Marzo</h4>
{% endif %}
{% if(t.lang == 'en') %}
<h4>Press</h4>
{% endif %}

{% assign rassegna = site.data.rassegna | where: 'lang', active_lang %}
{% for medium in rassegna %}
  <div class="Media u-sizeFull">
    <a href="{{ medium.href }}" title="{{ press-release.title | escape }}" class="u-linkClean" target="_blank">
      <span class="Title u-sizeFull u-textClean">{{ medium.title }}</span><span class="Icon Icon-chevron-right u-color-50 u-alignBottom"></span>
    </a>
  </div>
{% endfor %}
