<!--[if IE 8]>
 <script src="{{ '/assets/toolkit/vendor/respond.min.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/rem.min.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/selectivizr.js' | relative_url }}"></script>
 <script src="{{ '/assets/toolkit/vendor/slice.js' | relative_url }}"></script>
 <![endif]-->

 <!--[if lte IE 9]>
 <script src="{{ '/assets/toolkit/vendor/polyfill.min.js' | relative_url }}"></script>
<![endif]-->

<script src="{{ '/assets/toolkit/IWT.min.js' | relative_url }}"></script>
{% if page.layout == 'home' or page.layout == 'contacts' %}
<script src="{{ '/assets/newsletter.js' | relative_url }}"></script>
{% endif %}
{% if page.layout == 'ai_map' %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.3/js/tabulator.min.js"></script>
<script type="text/javascript" src="{{ '/assets/xlsx.full.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/ai_map.js' | relative_url }}"></script>
{% endif %}

<script>
  $(document).on('keydown', function(e) {
    if (e.keyCode === 9) {
      $('body').removeClass('hide-focus');
    } else if (e.keyCode == 191) { // slash
      $('#cerca').focus();
      e.preventDefault();
    }
  })

  $(document).on('click', function(e) {
    $('body').addClass('hide-focus');
  })
</script>
