#main {
  overflow: hidden;
}

:focus {
  -webkit-box-shadow: 0 0 0 3px #ff8c00 !important;
  -moz-box-shadow: 0 0 0 3px #ff8c00 !important;
  box-shadow: 0 0 0 3px #ff8c00 !important;
  outline: none !important;
}

.Prose p + ul {
  margin-top: -3.2rem;
}

/* Header
   ================ */

.Header {
  &.home {
    min-height: 100vh;

    background-image: url('#{$base_url}assets/images/header_background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media screen and (max-width: 991px) {
      .Home-claim {
        min-height: 10em;
      }
    }
  }
}

.Home-claim strong {
  font-weight: 600;
}

.Header-title {
  width: 50% !important;
  min-height: 4.8rem;
  .Header-titleLink a {
    font-weight: 600 !important;
  }
}

.Header-utils {
  width: 30%!important;
  margin-left: auto !important;
}

.Header-socialIcons {
  a {
    display: block;
  }
  [class^=Icon-] {
    padding: .8rem !important;
    color: #004080;
  }
}

.Page-title {
  background-color: #004080;
  padding-top: 3em;
}

.Page-title-room {
  height: 10em;
}

@media screen and (max-width: 767px) {
  .Page-title {
    padding-top: 0;
    h1 {
      text-align: center;
    }
  }
}

.Separator-curved {
  height: 4em;
  @media screen and (max-width: 992px) {
    height: 2em;
  }
}

.Header-owner {
  border-bottom: 1px solid #127ae2;
  font-size: medium;
}

.Header-owner>a {
  padding-bottom: 0.85em;
}

.Header-owner>a:hover {
  text-decoration: none !important;
  border-bottom: .1rem solid currentColor;
}


.Header-slim {
  color: #127ae2 !important;
}

.Header-slim a {
  font-weight: 200;
  text-decoration: none;
  padding-bottom: .8em;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.Header-slim a:hover {
  text-decoration: none !important;
  border-bottom: .1rem solid currentColor;
}

.Header-slim li.current a {
  border-bottom: .1rem solid currentColor;
  font-weight: 400;
}

.Header-slim li {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  display: inline-block !important;
}

.Header-slim li.delimiter {
  border-right: .1rem solid currentColor;
}

.Header-slim-toggle a {
  text-decoration: none !important;
}

.Header-language {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 1.6rem !important;
}

.Header-language-other {
  padding: 1em;
  margin-top: 1.4em !important;
  li:first-of-type {
    border: none !important;
  }
}

.Network .current a {
  font-size: 1.3em;
  border-left: 1rem solid #0066cc !important;
}

.Network .Linklist li:first-child {
  border-top: none !important;
}

/* Footer
   ============ */

.Footer-links li {
  @media screen and (min-width: 992px) {
    margin-right: 3.2rem!important;
  }
  margin-right: 1.5rem!important;
  margin-left: 1.5rem!important;
}

.Footer-links > ul, .Footer .Social > ul {
  @media screen and (min-width: 992px) {
    width: auto;
  }
  width: 100%;
}

ul.Footer-socialIcons {
   margin-left: 0 !important;
}

.Footer-socialIcons a {
  display: block;
}

.Footer-links, .Footer .Social {
  @media screen and (min-width: 992px) {
    text-align: left !important;
  }
  text-align: center !important;
}

.team-bar {
    border-right: 1px solid #fff;
    height: 3.5em;
    width: 10px !important;
}

.team-bar-alt  {
    border-right: 1px solid #004080;
    height: 3.5em;
    width: 10px !important;
}

@media screen and (max-width: 992px) {
  .Footer-notes {
    padding-top: 1em;
  }
}


/* Task-force layout
   =================== */

.Person {
  width: 296px;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
  z-index: 30;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.u-round {
  border-radius: 100% !important;
}

.Person::after {
  padding-bottom: 100%;
}

.Person-social-link {
  width: 2em;
  height: 2em;
}

@media screen and (min-width: 992px) and (max-width: 1365px) {
  .Person-container:nth-child(3n+1) {
    margin-top: 3em;
  }

  .u-pullUp-s {
    margin-top: -5em !important;
  }
}

.u-pullUp-m {
  margin-top: -8em !important;
}

.Person-content {
  width: 100%;
  h4 {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.Taskforce p {
  margin-bottom: 1rem;
  line-height: 2.2rem;
}

/** Typography
    =========== */

.Content {
  word-break: break-word;
}

/** Links
    ======== */

.Prose a, .Prose a:visited {
  color: #0066cc;
}

/** Megamenu
    ============ */

.Megamenu--default .Megamenu-item > a.is-current,
.Megamenu--default .Megamenu-item > a:hover{
  border-color: #fff;
}

.Megamenu--default .Megamenu-item {
  padding-left: 3.2rem;
  padding-right: 3.2rem;

  &:first-child {
    padding-left: 0!important;
  }
}

.Megamenu--default .Megamenu-item > a {
  border-bottom: .2rem solid transparent;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.Megamenu--default .Megamenu-item > a:hover {
  text-decoration: none !important;
}

/** Roadmap
    ========== */
.Roadmap {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Roadmap-item {
  position: relative;
  padding: 0 0 2em 2em;
  list-style: none;
  margin: 0;
}

.Roadmap-item::after {
  content: "";
  position: absolute;
  left: .7rem;
  top: .4em;
  height: 100%;
  border-left: .1rem solid #5a6772;
}

.Roadmap-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: .4em;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #5a6772;
  border-radius: 10rem;
  color: #5a6772;
}

.Roadmap-item-last::after {
  display: none;
}

/** Buttons
    ======== */
.Button-report {
  font-weight: 600;
  border: none !important;
  background-color: #ddd;
  color: #5a6772;
  padding: 1em 5em;
  font-size: 1.2em;
}

/** Triangles separator
    =================== */
.Triangle-room,
.Triangle {
  height: 5em;

  @media screen and (max-width: 992px) {
    height: 2.5em;
  }
}

.Triangle {
  float: left;
}

/** Links list
    ============= */
ul.Link-list {
  padding-left: 2em;
  text-indent: -2em;

  li {
    padding-bottom: 1em;

    a::after {
      display: none;
    }

    &::before {
      padding-right: 1em;
      font-family: ita;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1;
      speak: none;
      text-transform: none;
      color: #0066cc;
      content: "\e905";
    }
  }
}

/** Tabs
    ===== */

.Tabs .tab {
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .Tabs .tablist:before, .Tabs .tablist:after {
    display: none;
  }

  .Tabs .tab {
    padding: 0.4em;
  }
}

.Tabs .panel {
  min-height: 10em;
}

/* Media
  ========= */

.Media {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(90, 103, 114, .2);
  display: table;
}

.Media .Title {
  color: #0066cc;
  padding-right: 3rem;
  display: table-cell;
}

.Media .Icon {
  display: table-cell;
  vertical-align: middle !important;
}

/* Newsletter
   =========== */

#newsletter {
  #newsletter-submit[disabled] {
    color: #000;
  }
}
